* text=auto

/.github           export-ignore
/Tests             export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/.php_cs           export-ignore
/autoload.php.dist export-ignore
/phpunit.xml.dist  export-ignore
